@toolbar-grey: #282828;
@button-grey: #808080;
@panel-grey: #C0C0C0;
@text-field-grey: #E5E5E5;

@toolbutton-size: 46px;
@toolbutton-margin: 2px;
@toolbar-height: @toolbutton-size + (4 * @toolbutton-margin);

@input-text-padding: 4px;
@input-text-line-height: 20px;
@toolbar-input-height: (@toolbar-height / 2) - (@input-text-line-height / 2) -
                       (@input-text-padding + 2px);

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  background-color: @panel-grey;
}

.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
}

#toolbar {
  color: white;
  background-color: @toolbar-grey;
  padding: 0 @toolbutton-size + (5 * @toolbutton-margin);
  height: @toolbar-height;
  .unselectable;
}

#toolbar button {
  background-color: transparent;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  color: white;
  color: transparent;
  border: 0;
  border-radius: 5px;
  margin: (2 * @toolbutton-margin) @toolbutton-margin;
  width: @toolbutton-size;
  height: @toolbutton-size;
}

#toolbar button:hover {
  background-color: black;
}

#toolbar button:active,
#toolbar button.active {
  background-color: @button-grey;
}

#toolbar button img {
  width: 100%;
  height: 100%;
}

.pull-right {
  float: right;
}

#canvas {
  color: black;
  background-color: @panel-grey;
}

#canvas button {
  background-color: @button-grey;
  color: white;
  border: 2px solid transparent;
  border-radius: 500px;
  .unselectable;
}

#canvas button:hover {
  background-color: @button-grey + #222;
  border-color: @button-grey + #222;
}

#canvas button:active {
  background-color: white;
  color: black;
  border-color: @button-grey;
}

input[type='text'] {
  background-color: @text-field-grey;
  border: 2px solid @text-field-grey;
  border-radius: 500px;
  padding: @input-text-padding;
  line-height: @input-text-line-height;
  outline: 0;
}

input[type='text']:focus {
  background-color: white;
}

input[type='text']:disabled {
  border-color: @button-grey;
  background-color: @button-grey;
}

#toolbar input[type='text'] {
  margin-top: @toolbar-input-height;
}

input[type='range'] {
  -webkit-appearance: none !important;
  background-color: @button-grey;
  border-radius: 500px;
  height: 7px;
  cursor: pointer;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  background-color: @panel-grey;
  border: 4px solid @button-grey;
  border-radius: 500px;
  height: 20px;
  width: 20px;
}

input[type='range']::-webkit-slider-thumb:hover {
  background-color: @panel-grey + #222;
  border-color: @button-grey + #222;
}

label {
  .unselectable;
}

#toolbar #stop-button {
  background-image: url('../icons/actions/activity-stop.svg');
}

.palette {
  color: white;
  background-color: black;
  position: absolute;
  border: 2px solid @button-grey;
}
